* {
}
#labelDegree {
    text-align: center;
    font-size: 90


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































}

#labelCity {
    text-align: center;
    font-size: 35;
}

#labelPressure, #labelHumidity, #labelVisibility {
    font-size: 20;
}

#buttonRequest{
    background-color: gray;
}